<a href="https://colab.research.google.com/github/Prashitraj/Algorithmic-Trading/blob/main/Quantitative_Value_Investing_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import numpy as np
import pandas as pd
import requests
from scipy import stats
import math

In [29]:
stocks = pd.read_csv('/content/drive/MyDrive/StockAnalysis/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [30]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [31]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'symbol': 'AAPL', 'companyName': 'Apple Inc', 'primaryExchange': 'RLT G/GDSANAQLMATOESEKANBE)L ( SC', 'calculationPrice': 'close', 'open': 125.38, 'openTime': 1645872702601, 'openSource': 'ficlaiof', 'close': 126.21, 'closeTime': 1644231699058, 'closeSource': 'iaofcfil', 'high': 125.37, 'highTime': 1636353418103, 'highSource': 'cm 15ayein l ritededepu', 'low': 123.23, 'lowTime': 1690960156411, 'lowSource': 't md pece5rii1 eduenlya', 'latestPrice': 121.82, 'latestSource': 'Close', 'latestTime': 'March 26, 2021', 'latestUpdate': 1695538714743, 'latestVolume': 98153193, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexLastUpdated': None, 'delayedPrice': 126.63, 'delayedPriceTime': 1694729011639, 'oddLotDelayedPrice': 127.06, 'oddLotDelayedPriceTime': 1693271319962, 'extendedPrice': 124.1, 'extendedChange': -0.11, 'extendedChangePercent': -0.00091, 'extendedPriceTime': 1652323871884, 'previousClose': 122.32, 'previousVolume': 103447209, 'change': 0.64, 'changePercent': 0.00516, 'volume': 94667653, 'iexMarketPercent': None, 'iexVolume': None, 'avgTotalVolume': 119350901, 'iexBidPrice': None, 'iexBidSize': None, 'iexAskPrice': None, 'iexAskSize': None, 'iexOpen': 126.42, 'iexOpenTime': 1645928925975, 'iexClose': 125.41, 'iexCloseTime': 1659605092229, 'marketCap': 2131705585582, 'peRatio': 34.43, 'week52High': 146.53, 'week52Low': 61.44, 'ytdChange': -0.0810426780051431, 'lastTradeTime': 1651123660166, 'isUSMarketOpen': False}

In [32]:
price  = data['latestPrice']
pe_ratio = data['peRatio']
pe_ratio

34.43

In [33]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [34]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
my_columns = ['Ticker', 'Price', 'PE Ratio', 'Number Of Shares to Buy']
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    # print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(pd.Series([symbol,data[symbol]['quote']['latestPrice'],data[symbol]['quote']['peRatio'],'N/A'],index=my_columns),ignore_index=True)
final_dataframe

    Ticker   Price PE Ratio Number Of Shares to Buy
0        A  128.95    50.66                     N/A
1      AAL   23.79    -1.25                     N/A
2      AAP  193.43    26.81                     N/A
3     AAPL  124.86    33.76                     N/A
4     ABBV  110.23    40.72                     N/A
..     ...     ...      ...                     ...
500    YUM  109.81     37.7                     N/A
501    ZBH  164.95  -251.83                     N/A
502   ZBRA  494.67     51.6                     N/A
503   ZION   57.91      8.8                     N/A
504    ZTS  158.28    47.39                     N/A

[505 rows x 4 columns]

In [35]:
final_dataframe.sort_values('PE Ratio', inplace = True )
final_dataframe = final_dataframe[final_dataframe['PE Ratio'] > 0]
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe

    index Ticker   Price PE Ratio Number Of Shares to Buy
0      63    BIO  582.86     4.64                     N/A
1      26    ALL  116.62      6.7                     N/A
2     459    UNM   29.00     7.18                     N/A
3     152   EBAY   62.40     7.72                     N/A
4      17    AFL   52.97     8.03                     N/A
5     108    COO  400.60     8.71                     N/A
6     503   ZION   57.91      8.8                     N/A
7     265    KIM   20.03     8.91                     N/A
8      87     CE  154.77      9.4                     N/A
9     271     KR   38.29     9.86                     N/A
10    118    CTL   11.00    10.02                     N/A
11    368    PGR   97.58    10.05                     N/A
12    419    SRE  133.77    10.33                     N/A
13    370    PHM   53.12     10.6                     N/A
14    375    PNC  187.82    10.74                     N/A
15     94     CI  245.77       11                     N/A
16    304    MET   63.80    11.06                     N/A
17     62   BIIB  278.06    11.35                     N/A
18    221    HII  207.45     11.9                     N/A
19    366    PFG   62.26    12.24                     N/A
20    132    DHI   93.34     12.3                     N/A
21    137   DISH   36.98     12.4                     N/A
22    456    UHS  141.81     12.5                     N/A
23    318     MS   81.53     12.6                     N/A
24    467   VIAC   50.18     12.7                     N/A
25    131    DGX  130.43    12.76                     N/A
26     64     BK   48.53       13                     N/A
27     77    CAH   63.06    13.18                     N/A
28    210     GS  330.35    13.32                     N/A
29    483    WHR  224.19    13.34                     N/A
30    297    MAS   62.63    13.43                     N/A
31    278    LEN  107.07    13.49                     N/A
32    242   INTC   67.65    13.52                     N/A
33    203     GM   56.99    13.67                     N/A
34    445    TSN   76.39    13.68                     N/A
35    421    STT   89.97    13.69                     N/A
36    475     VZ   60.64    13.71                     N/A
37    226    HPQ   33.00    13.93                     N/A
38    122    CVS   79.66    14.37                     N/A
39    223   HOLX   76.69    14.53                     N/A
40    201     GL  100.66    14.55                     N/A
41    408    SEE   47.58    14.57                     N/A
42    220    HIG   68.30    14.67                     N/A
43    167    ETR   98.56     14.7                     N/A
44     95   CINF  110.04    14.74                     N/A
45    491     WU   26.54    14.88                     N/A
46    443    TRV  158.21     14.9                     N/A
47    165   ETFC   50.24    14.98                     N/A
48    200    GIS   62.96       15                     N/A
49    191   FOXA   39.20    15.04                     N/A

In [36]:
portfolio_size = input('Enter your portfolio size:')

try:
    val = float(portfolio_size)
except ValueError:
    print('Please enter an integer')

Enter your portfolio size:1000000

In [37]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for i in range(0,len(final_dataframe)):
    final_dataframe.loc[i,'Number Of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i,'Price'])
final_dataframe

    index Ticker   Price PE Ratio Number Of Shares to Buy
0      63    BIO  582.86     4.64                      34
1      26    ALL  116.62      6.7                     171
2     459    UNM   29.00     7.18                     689
3     152   EBAY   62.40     7.72                     320
4      17    AFL   52.97     8.03                     377
5     108    COO  400.60     8.71                      49
6     503   ZION   57.91      8.8                     345
7     265    KIM   20.03     8.91                     998
8      87     CE  154.77      9.4                     129
9     271     KR   38.29     9.86                     522
10    118    CTL   11.00    10.02                    1818
11    368    PGR   97.58    10.05                     204
12    419    SRE  133.77    10.33                     149
13    370    PHM   53.12     10.6                     376
14    375    PNC  187.82    10.74                     106
15     94     CI  245.77       11                      81
16    304    MET   63.80    11.06                     313
17     62   BIIB  278.06    11.35                      71
18    221    HII  207.45     11.9                      96
19    366    PFG   62.26    12.24                     321
20    132    DHI   93.34     12.3                     214
21    137   DISH   36.98     12.4                     540
22    456    UHS  141.81     12.5                     141
23    318     MS   81.53     12.6                     245
24    467   VIAC   50.18     12.7                     398
25    131    DGX  130.43    12.76                     153
26     64     BK   48.53       13                     412
27     77    CAH   63.06    13.18                     317
28    210     GS  330.35    13.32                      60
29    483    WHR  224.19    13.34                      89
30    297    MAS   62.63    13.43                     319
31    278    LEN  107.07    13.49                     186
32    242   INTC   67.65    13.52                     295
33    203     GM   56.99    13.67                     350
34    445    TSN   76.39    13.68                     261
35    421    STT   89.97    13.69                     222
36    475     VZ   60.64    13.71                     329
37    226    HPQ   33.00    13.93                     606
38    122    CVS   79.66    14.37                     251
39    223   HOLX   76.69    14.53                     260
40    201     GL  100.66    14.55                     198
41    408    SEE   47.58    14.57                     420
42    220    HIG   68.30    14.67                     292
43    167    ETR   98.56     14.7                     202
44     95   CINF  110.04    14.74                     181
45    491     WU   26.54    14.88                     753
46    443    TRV  158.21     14.9                     126
47    165   ETFC   50.24    14.98                     398
48    200    GIS   62.96       15                     317
49    191   FOXA   39.20    15.04                     510

In [38]:
symbol = 'AAPL'
batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
data = requests.get(batch_api_call_url).json()
pe_ratio = data[symbol]['quote']['peRatio']
pb_ratio = data[symbol]['advanced-stats']['priceToBook']
ps_ratio = data[symbol]['advanced-stats']['priceToSales']
ev_to_ebitda = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['EBITDA']
ev_to_gp = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['grossProfit']
print(pe_ratio,pb_ratio,ps_ratio,ev_to_ebitda,ev_to_gp)

34.46 31.12 7 23.38930657892314 17.40826144557437

In [56]:
rv_columns = ['Ticker', 'Price', 'Number of Shares to Buy',
              'PE Ratio','PE Percentile',
              'PB Ratio','PB Percentile',
              'PS Ratio','PS Percentile',
              'EV_TO_EBITDA Ratio','EV_TO_EBITDA Percentile',
              'EV_TO_GP Ratio','EV_TO_GP Percentile',
              'RV SCORE']
rv_dataframe = pd.DataFrame(columns = rv_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote,advanced-stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        pe_ratio = data[symbol]['quote']['peRatio']
        pb_ratio = data[symbol]['advanced-stats']['priceToBook']
        ps_ratio = data[symbol]['advanced-stats']['priceToSales']
        try:
            ev_to_ebitda = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['EBITDA']
        except:
            ev_to_ebitda = np.NaN
        try:
            ev_to_gp = data[symbol]['advanced-stats']['enterpriseValue']/data[symbol]['advanced-stats']['grossProfit']
        except:
            ev_to_gp = np.NaN
        rv_dataframe = rv_dataframe.append(pd.Series(
            [symbol,data[symbol]['quote']['latestPrice'],'N/A',
             pe_ratio,'N/A',
             pb_ratio,'N/A',
             ps_ratio,'N/A',
             ev_to_ebitda,'N/A',
             ev_to_gp,'N/A',
             'N/A'],index=rv_columns),ignore_index=True)
rv_dataframe

    Ticker   Price  ... EV_TO_GP Percentile RV SCORE
0        A  126.66  ...                 N/A      N/A
1      AAL   23.81  ...                 N/A      N/A
2      AAP  195.41  ...                 N/A      N/A
3     AAPL  126.42  ...                 N/A      N/A
4     ABBV  108.30  ...                 N/A      N/A
..     ...     ...  ...                 ...      ...
500    YUM  109.80  ...                 N/A      N/A
501    ZBH  164.67  ...                 N/A      N/A
502   ZBRA  478.95  ...                 N/A      N/A
503   ZION   58.11  ...                 N/A      N/A
504    ZTS  162.42  ...                 N/A      N/A

[505 rows x 14 columns]

In [57]:
rv_dataframe[rv_dataframe.isnull().any(axis =1)]

    Ticker     Price  ... EV_TO_GP Percentile RV SCORE
40     AON   236.480  ...                 N/A      N/A
42     APA    18.880  ...                 N/A      N/A
71   BRK.B   258.990  ...                 N/A      N/A
118    CTL    11.000  ...                 N/A      N/A
136  DISCK    36.660  ...                 N/A      N/A
165   ETFC    50.900  ...                 N/A      N/A
168   EVRG    61.650  ...                 N/A      N/A
190    FOX    37.570  ...                 N/A      N/A
192    FRC   177.970  ...                 N/A      N/A
204   GOOG  2085.510  ...                 N/A      N/A
326    MYL    16.088  ...                 N/A      N/A
327    NBL     8.840  ...                 N/A      N/A
348    NWS    25.020  ...                 N/A      N/A
363    PEG    61.300  ...                 N/A      N/A
442   TROW   186.130  ...                 N/A      N/A
452     UA    19.150  ...                 N/A      N/A
454    UAL    57.960  ...                 N/A      N/A
498    XRX    25.840  ...                 N/A      N/A

[18 rows x 14 columns]

In [58]:
rv_dataframe = rv_dataframe.fillna(value = np.nan)
for column in ['PE Ratio','PB Ratio','PS Ratio','EV_TO_EBITDA Ratio','EV_TO_GP Ratio']:
    rv_dataframe[column].fillna(rv_dataframe[column].mean(),inplace = True)

In [59]:
from scipy.stats import percentileofscore as score
stats = ['PE', 'PB','PS','EV_TO_EBITDA','EV_TO_GP']

for row in rv_dataframe.index:
    for stat in stats:
        change_col = f'{stat} Ratio'
        percentile_col = f'{stat} Percentile'
        rv_dataframe.loc[row,percentile_col] = score(rv_dataframe[change_col], rv_dataframe.loc[row,change_col])
rv_dataframe

    Ticker   Price  ... EV_TO_GP Percentile  RV SCORE
0        A  126.66  ...             77.4257       N/A
1      AAL   23.81  ...             8.51485       N/A
2      AAP  195.41  ...             11.4851       N/A
3     AAPL  126.42  ...             91.2871       N/A
4     ABBV  108.30  ...             48.9109       N/A
..     ...     ...  ...                 ...       ...
500    YUM  109.80  ...             66.1386       N/A
501    ZBH  164.67  ...              50.495       N/A
502   ZBRA  478.95  ...             78.6139       N/A
503   ZION   58.11  ...             12.0792       N/A
504    ZTS  162.42  ...             88.1188       N/A

[505 rows x 14 columns]

In [60]:
from statistics import mean 
for row in rv_dataframe.index:
    stat_percentiles = []
    for stat in stats:
        stat_percentiles.append(rv_dataframe.loc[row, f'{stat} Percentile'])
        rv_dataframe.loc[row,'RV SCORE'] = mean(stat_percentiles)
rv_dataframe

    Ticker   Price  ... EV_TO_GP Percentile  RV SCORE
0        A  126.66  ...             77.4257        80
1      AAL   23.81  ...             8.51485   7.88119
2      AAP  195.41  ...             11.4851   29.6832
3     AAPL  126.42  ...             91.2871   81.8614
4     ABBV  108.30  ...             48.9109   61.1089
..     ...     ...  ...                 ...       ...
500    YUM  109.80  ...             66.1386   58.6535
501    ZBH  164.67  ...              50.495   47.1287
502   ZBRA  478.95  ...             78.6139   82.1188
503   ZION   58.11  ...             12.0792   17.0891
504    ZTS  162.42  ...             88.1188   88.3762

[505 rows x 14 columns]

In [61]:
rv_dataframe.sort_values('RV SCORE',ascending=False,inplace=True)
rv_dataframe = rv_dataframe[:50]
rv_dataframe.reset_index(inplace=True)
rv_dataframe

    index Ticker    Price  ... EV_TO_GP Ratio  EV_TO_GP Percentile RV SCORE
0     339    NOW   511.00  ...      26.719447              98.2178   98.495
1     358   PAYC   379.85  ...      30.735832              99.2079   98.297
2     236   IDXX   481.48  ...      26.338760              97.8218  95.6832
3     345   NVDA   528.95  ...      30.964997              99.4059  95.6436
4     150   DXCM   369.27  ...      25.932357              97.4257  95.2079
5     308   MKTX   526.10  ...      27.847128              98.6139  94.9307
6     239   ILMN   412.65  ...      25.406260              97.0297  94.7723
7     294     MA   371.42  ...      22.733188              96.0396  94.2178
8     250   ISRG   764.96  ...      28.443974              98.8119  93.5842
9     451    TYL   436.42  ...      30.454860              99.0099  93.2673
10     65   BKNG  2416.72  ...      14.021462                   80  93.2475
11     13   ADSK   276.36  ...      16.765631              88.7129  92.9505
12      6   ABMD   308.20  ...      20.455633              94.0594  92.0396
13      9   ADBE   481.17  ...      20.333325              93.8614  91.1683
14     35    AMT   240.49  ...      24.055425              96.6337  91.0891
15     85   CDNS   135.08  ...      15.681338              85.9406  90.6733
16    464      V   223.63  ...      22.609818              95.8416  90.0594
17    195   FTNT   191.00  ...      13.435915              77.6238   89.901
18     38   ANSS   357.87  ...      19.780462              92.8713  89.7426
19    243   INTU   392.79  ...      16.267988              87.3267  89.4653
20    490    WST   284.87  ...      26.016081              97.6238  89.3465
21    387   PYPL   242.31  ...      12.945484              75.4455  88.9109
22    169     EW    83.80  ...      15.011614              83.9604  88.5149
23    504    ZTS   162.42  ...      16.616401              88.1188  88.3762
24    323    MTD  1213.43  ...      15.963263              86.5347  88.3168
25     83    CCI   174.31  ...      23.854685              96.2376       88
26     31    AMD    77.96  ...      20.215619              93.4653  87.3069
27    400    ROL    34.83  ...      14.941130              83.3663  87.1881
28    161   EQIX   688.33  ...      24.970594              96.8317   86.297
29    101    CMG  1493.56  ...       9.885688              62.5743  85.4059
30    495   XLNX   123.91  ...      13.460892              78.0198  84.8713
31    334    NKE   135.72  ...      12.472794              73.8614  84.5545
32    418   SPGI   363.19  ...      16.151134              87.1287   84.297
33    157     EL   294.34  ...       9.733423              61.5842  84.2376
34     24   ALGN   548.57  ...      22.370316              95.6436  84.0792
35    299   MCHP   162.87  ...      15.473516              85.1485  84.0792
36    320   MSFT   245.46  ...      16.475719              87.7228  84.0396
37    449    TXN   195.70  ...      18.816114              91.4851  83.3267
38    382    PSA   244.68  ...      22.265553              95.4455  83.0891
39    398    RMD   198.06  ...      15.209700              84.7525  82.9901
40    312   MNST    92.37  ...      17.185309               89.505  82.8911
41    325   MXIM    95.26  ...      14.939073              83.1683  82.5743
42    402   ROST   124.00  ...      14.897922              82.9703  82.5149
43    502   ZBRA   478.95  ...      13.573791              78.6139  82.1188
44    471   VRSK   179.82  ...      17.941153               90.297  82.0792
45    332   NFLX   511.14  ...      23.958768              96.4356  82.0594
46    415   SNPS   253.67  ...      11.964116              72.4752  82.0198
47      3   AAPL   126.42  ...      18.793993              91.2871  81.8614
48    435    TFX   419.46  ...      15.969187              86.7327  81.6634
49    241   INFO   101.58  ...      16.970594              88.9109  81.6634

[50 rows x 15 columns]

In [62]:
portfolio_size = input('Enter your portfolio size:')

try:
    val = float(portfolio_size)
except ValueError:
    print('Please enter an integer')

Enter your portfolio size:1000000

In [63]:
position_size = float(portfolio_size)/len(rv_dataframe.index)
for i in range(0,len(final_dataframe)):
    rv_dataframe.loc[i,'Number of Shares to Buy'] = math.floor(position_size/rv_dataframe.loc[i,'Price'])
rv_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

    index Ticker    Price  ... EV_TO_GP Ratio  EV_TO_GP Percentile RV SCORE
0     339    NOW   511.00  ...      26.719447              98.2178   98.495
1     358   PAYC   379.85  ...      30.735832              99.2079   98.297
2     236   IDXX   481.48  ...      26.338760              97.8218  95.6832
3     345   NVDA   528.95  ...      30.964997              99.4059  95.6436
4     150   DXCM   369.27  ...      25.932357              97.4257  95.2079
5     308   MKTX   526.10  ...      27.847128              98.6139  94.9307
6     239   ILMN   412.65  ...      25.406260              97.0297  94.7723
7     294     MA   371.42  ...      22.733188              96.0396  94.2178
8     250   ISRG   764.96  ...      28.443974              98.8119  93.5842
9     451    TYL   436.42  ...      30.454860              99.0099  93.2673
10     65   BKNG  2416.72  ...      14.021462                   80  93.2475
11     13   ADSK   276.36  ...      16.765631              88.7129  92.9505
12      6   ABMD   308.20  ...      20.455633              94.0594  92.0396
13      9   ADBE   481.17  ...      20.333325              93.8614  91.1683
14     35    AMT   240.49  ...      24.055425              96.6337  91.0891
15     85   CDNS   135.08  ...      15.681338              85.9406  90.6733
16    464      V   223.63  ...      22.609818              95.8416  90.0594
17    195   FTNT   191.00  ...      13.435915              77.6238   89.901
18     38   ANSS   357.87  ...      19.780462              92.8713  89.7426
19    243   INTU   392.79  ...      16.267988              87.3267  89.4653
20    490    WST   284.87  ...      26.016081              97.6238  89.3465
21    387   PYPL   242.31  ...      12.945484              75.4455  88.9109
22    169     EW    83.80  ...      15.011614              83.9604  88.5149
23    504    ZTS   162.42  ...      16.616401              88.1188  88.3762
24    323    MTD  1213.43  ...      15.963263              86.5347  88.3168
25     83    CCI   174.31  ...      23.854685              96.2376       88
26     31    AMD    77.96  ...      20.215619              93.4653  87.3069
27    400    ROL    34.83  ...      14.941130              83.3663  87.1881
28    161   EQIX   688.33  ...      24.970594              96.8317   86.297
29    101    CMG  1493.56  ...       9.885688              62.5743  85.4059
30    495   XLNX   123.91  ...      13.460892              78.0198  84.8713
31    334    NKE   135.72  ...      12.472794              73.8614  84.5545
32    418   SPGI   363.19  ...      16.151134              87.1287   84.297
33    157     EL   294.34  ...       9.733423              61.5842  84.2376
34     24   ALGN   548.57  ...      22.370316              95.6436  84.0792
35    299   MCHP   162.87  ...      15.473516              85.1485  84.0792
36    320   MSFT   245.46  ...      16.475719              87.7228  84.0396
37    449    TXN   195.70  ...      18.816114              91.4851  83.3267
38    382    PSA   244.68  ...      22.265553              95.4455  83.0891
39    398    RMD   198.06  ...      15.209700              84.7525  82.9901
40    312   MNST    92.37  ...      17.185309               89.505  82.8911
41    325   MXIM    95.26  ...      14.939073              83.1683  82.5743
42    402   ROST   124.00  ...      14.897922              82.9703  82.5149
43    502   ZBRA   478.95  ...      13.573791              78.6139  82.1188
44    471   VRSK   179.82  ...      17.941153               90.297  82.0792
45    332   NFLX   511.14  ...      23.958768              96.4356  82.0594
46    415   SNPS   253.67  ...      11.964116              72.4752  82.0198
47      3   AAPL   126.42  ...      18.793993              91.2871  81.8614
48    435    TFX   419.46  ...      15.969187              86.7327  81.6634
49    241   INFO   101.58  ...      16.970594              88.9109  81.6634

[50 rows x 15 columns]