<a href="https://colab.research.google.com/github/Prashitraj/Algorithmic-Trading/blob/main/Quantative_Momentum_Investing_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import requests
import math
from scipy.stats import percentileofscore as score

In [ ]:
stocks = pd.read_csv('/content/drive/MyDrive/StockAnalysis/sp_500_stocks.csv')
stocks

    Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

In [ ]:
IEX_CLOUD_API_TOKEN = 'Tpk_059b97af715d417d9f49f50b51b1c448'

In [ ]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats/?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
print(data)

{'companyName': 'Apple Inc', 'marketcap': 2068436237360, 'week52high': 144.93, 'week52low': 61.16, 'week52highSplitAdjustOnly': 151.59, 'week52lowSplitAdjustOnly': 60.52, 'week52change': 0.998800326976871, 'sharesOutstanding': 17550755368, 'float': 0, 'avg10Volume': 114894171, 'avg30Volume': 121741741, 'day200MovingAvg': 126.77, 'day50MovingAvg': 130.41, 'employees': 152325, 'ttmEPS': 3.72, 'ttmDividendRate': 0.8512178190260867, 'dividendYield': 0.006951109668950046, 'nextDividendDate': '0', 'exDividendDate': '2021-01-29', 'nextEarningsDate': '2021-01-17', 'peRatio': 32.46522926009759, 'beta': 1.2116893877584514, 'maxChangePercent': 45.60913367187312, 'year5ChangePercent': 4.049263382859919, 'year2ChangePercent': 1.7165196754979029, 'year1ChangePercent': 0.9148669469179178, 'ytdChangePercent': -0.08695886090342658, 'month6ChangePercent': 0.0852659360551815, 'month3ChangePercent': -0.08127780505556187, 'month1ChangePercent': -0.0004262318891577606, 'day30ChangePercent': -0.03451135837676679, 'day5ChangePercent': 0.010179319523924734}

In [ ]:
data['year1ChangePercent']

0.9148669469179178

In [ ]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [ ]:
symbol_groups = list(chunks(stocks['Ticker'],100))
symbol_strings = []
my_columns = ['Ticker', 'Stock Price', 'One Year Price Return', 'Number Of Shares to Buy']
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    # print(symbol_strings[i])
final_dataframe = pd.DataFrame(columns=my_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe = final_dataframe.append(pd.Series([symbol,data[symbol]['price'],data[symbol]['stats']['year1ChangePercent'],'N/A'],index=my_columns),ignore_index=True)
final_dataframe

    Ticker  Stock Price One Year Price Return Number Of Shares to Buy
0        A       127.96              0.751216                     N/A
1      AAL        23.24              0.472272                     N/A
2      AAP       187.59              0.957804                     N/A
3     AAPL       122.40              0.929876                     N/A
4     ABBV       107.31              0.512861                     N/A
..     ...          ...                   ...                     ...
500    YUM       110.97              0.464892                     N/A
501    ZBH       165.17              0.618632                     N/A
502   ZBRA       479.47               1.43541                     N/A
503   ZION        56.51               1.13959                     N/A
504    ZTS       161.93              0.337254                     N/A

[505 rows x 4 columns]

In [ ]:
final_dataframe.sort_values('One Year Price Return',ascending = False, inplace = True )
final_dataframe = final_dataframe[:50]
final_dataframe.reset_index(inplace=True)
final_dataframe

    index Ticker  Stock Price One Year Price Return Number Of Shares to Buy
0     179    FCX       34.030               3.88812                     N/A
1     275     LB       63.100               3.74112                     N/A
2     467   VIAC       48.320               2.63268                     N/A
3     208    GPS       30.660               2.61234                     N/A
4     462    URI      341.680               2.43596                     N/A
5     148    DVN       23.550               2.37484                     N/A
6     272    KSS       59.900               2.36839                     N/A
7     212    HAL       22.130                2.1349                     N/A
8     175   FANG       75.940               2.03358                     N/A
9     314    MOS       31.440               1.94578                     N/A
10    349   NWSA       26.944               1.92281                     N/A
11    317    MRO       11.190               1.89789                     N/A
12    305    MGM       39.190               1.89095                     N/A
13    410   SIVB      514.380               1.88465                     N/A
14    441    TPR       43.800               1.82864                     N/A
15     24   ALGN      542.820               1.82398                     N/A
16    172   EXPE      185.180               1.81578                     N/A
17    483    WHR      230.170               1.81507                     N/A
18    385    PWR       87.710               1.80142                     N/A
19    128     DE      388.140               1.75729                     N/A
20     78   CARR       42.110               1.73938                     N/A
21    253    IVZ       24.840               1.69056                     N/A
22    348    NWS       24.330               1.66918                     N/A
23     29   AMAT      132.910               1.66821                     N/A
24    384    PVH      102.500               1.65908                     N/A
25     45   APTV      141.800               1.60962                     N/A
26    315    MPC       56.220               1.56437                     N/A
27     23    ALB      152.300               1.53952                     N/A
28    203     GM       57.240               1.53299                     N/A
29    369     PH      326.670                1.5251                     N/A
30    278    LEN      105.750               1.49701                     N/A
31    144    DRI      155.350               1.48305                     N/A
32    344    NUE       81.200               1.47838                     N/A
33    215    HBI       21.040               1.47053                     N/A
34    387   PYPL      245.890                1.4569                     N/A
35    129    DFS       97.820               1.44069                     N/A
36    502   ZBRA      479.470               1.43541                     N/A
37    158    EMN      114.760               1.43068                     N/A
38    306    MHK      203.370               1.40816                     N/A
39    174      F       12.400               1.37195                     N/A
40    352    OKE       51.820               1.36912                     N/A
41    448   TWTR       62.110               1.36167                     N/A
42    185   FITB       39.710               1.35071                     N/A
43     90    CFG       45.360               1.33908                     N/A
44    318     MS       82.390               1.32728                     N/A
45    285    LNC       62.390                1.3139                     N/A
46    132    DHI       93.770               1.30914                     N/A
47    453    UAA       22.980               1.30219                     N/A
48    386    PXD      169.000               1.30049                     N/A
49    180    FDX      289.860               1.29308                     N/A

In [ ]:
portfolio_size = input('Enter your portfolio size:')

try:
    val = float(portfolio_size)
except ValueError:
    print('Please enter an integer')

Enter your portfolio size:1000000

In [ ]:
position_size = float(portfolio_size)/len(final_dataframe.index)
for i in range(0,len(final_dataframe)):
    final_dataframe.loc[i,'Number Of Shares to Buy'] = math.floor(position_size/final_dataframe.loc[i,'Stock Price'])
final_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

    index Ticker  Stock Price One Year Price Return Number Of Shares to Buy
0     179    FCX       34.030               3.88812                     587
1     275     LB       63.100               3.74112                     316
2     467   VIAC       48.320               2.63268                     413
3     208    GPS       30.660               2.61234                     652
4     462    URI      341.680               2.43596                      58
5     148    DVN       23.550               2.37484                     849
6     272    KSS       59.900               2.36839                     333
7     212    HAL       22.130                2.1349                     903
8     175   FANG       75.940               2.03358                     263
9     314    MOS       31.440               1.94578                     636
10    349   NWSA       26.944               1.92281                     742
11    317    MRO       11.190               1.89789                    1787
12    305    MGM       39.190               1.89095                     510
13    410   SIVB      514.380               1.88465                      38
14    441    TPR       43.800               1.82864                     456
15     24   ALGN      542.820               1.82398                      36
16    172   EXPE      185.180               1.81578                     108
17    483    WHR      230.170               1.81507                      86
18    385    PWR       87.710               1.80142                     228
19    128     DE      388.140               1.75729                      51
20     78   CARR       42.110               1.73938                     474
21    253    IVZ       24.840               1.69056                     805
22    348    NWS       24.330               1.66918                     822
23     29   AMAT      132.910               1.66821                     150
24    384    PVH      102.500               1.65908                     195
25     45   APTV      141.800               1.60962                     141
26    315    MPC       56.220               1.56437                     355
27     23    ALB      152.300               1.53952                     131
28    203     GM       57.240               1.53299                     349
29    369     PH      326.670                1.5251                      61
30    278    LEN      105.750               1.49701                     189
31    144    DRI      155.350               1.48305                     128
32    344    NUE       81.200               1.47838                     246
33    215    HBI       21.040               1.47053                     950
34    387   PYPL      245.890                1.4569                      81
35    129    DFS       97.820               1.44069                     204
36    502   ZBRA      479.470               1.43541                      41
37    158    EMN      114.760               1.43068                     174
38    306    MHK      203.370               1.40816                      98
39    174      F       12.400               1.37195                    1612
40    352    OKE       51.820               1.36912                     385
41    448   TWTR       62.110               1.36167                     322
42    185   FITB       39.710               1.35071                     503
43     90    CFG       45.360               1.33908                     440
44    318     MS       82.390               1.32728                     242
45    285    LNC       62.390                1.3139                     320
46    132    DHI       93.770               1.30914                     213
47    453    UAA       22.980               1.30219                     870
48    386    PXD      169.000               1.30049                     118
49    180    FDX      289.860               1.29308                      68

In [ ]:
hqm_columns = ['Ticker', 'Price', 'Number of Shares to Buy',
               'One Year Price Return', 'One Year Return Percentile',
               'Six Month Price Return', 'Six Month Return Percentile',
               'Three Month Price Return', 'Three Month Return Percentile',
               'One Month Price Return', 'One Month Return Percentile',
               'HQM Score']

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

for symbol_string in symbol_strings:
    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=price,stats&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        hqm_dataframe = hqm_dataframe.append(pd.Series(
            [symbol,data[symbol]['price'],'N/A',
             data[symbol]['stats']['year1ChangePercent'],'N/A',
             data[symbol]['stats']['month6ChangePercent'],'N/A',
             data[symbol]['stats']['month3ChangePercent'],'N/A',
             data[symbol]['stats']['month1ChangePercent'],'N/A',
             'N/A'],index=hqm_columns),ignore_index=True)
hqm_dataframe

    Ticker   Price  ... One Month Return Percentile HQM Score
0        A  131.80  ...                         N/A       N/A
1      AAL   23.64  ...                         N/A       N/A
2      AAP  192.98  ...                         N/A       N/A
3     AAPL  125.37  ...                         N/A       N/A
4     ABBV  108.04  ...                         N/A       N/A
..     ...     ...  ...                         ...       ...
500    YUM  110.18  ...                         N/A       N/A
501    ZBH  167.62  ...                         N/A       N/A
502   ZBRA  484.03  ...                         N/A       N/A
503   ZION   56.01  ...                         N/A       N/A
504    ZTS  163.41  ...                         N/A       N/A

[505 rows x 12 columns]

In [ ]:
hqm_dataframe = hqm_dataframe.fillna(value=np.nan)

In [ ]:
timeperiods = ['One Year', 'Six Month','Three Month','One Month']

for row in hqm_dataframe.index:
    for timeperiod in timeperiods:
        change_col = f'{timeperiod} Price Return'
        percentile_col = f'{timeperiod} Return Percentile'
        hqm_dataframe.loc[row,percentile_col] = score(hqm_dataframe[change_col], hqm_dataframe.loc[row,change_col])
hqm_dataframe

    Ticker   Price  ... One Month Return Percentile  HQM Score
0        A  131.80  ...                     27.7228        N/A
1      AAL   23.64  ...                     66.3366        N/A
2      AAP  192.98  ...                     95.6436        N/A
3     AAPL  125.37  ...                     15.8416        N/A
4     ABBV  108.04  ...                     9.90099        N/A
..     ...     ...  ...                         ...        ...
500    YUM  110.18  ...                     35.8416        N/A
501    ZBH  167.62  ...                     12.6733        N/A
502   ZBRA  484.03  ...                     5.94059        N/A
503   ZION   56.01  ...                     39.0099        N/A
504    ZTS  163.41  ...                     18.6139        N/A

[505 rows x 12 columns]

In [ ]:
from statistics import mean 
for row in hqm_dataframe.index:
    momentum_percentiles = []
    for timeperiod in timeperiods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{timeperiod} Return Percentile'])
        hqm_dataframe.loc[row,'HQM Score'] = mean(momentum_percentiles)
hqm_dataframe

In [ ]:
hqm_dataframe.sort_values('HQM Score',ascending=False,inplace=True)
hqm_dataframe = hqm_dataframe[:50]
hqm_dataframe.reset_index(inplace=True)
hqm_dataframe

    index Ticker  ...  One Month Return Percentile HQM Score
0     208    GPS  ...                      96.6337    95.396
1     344    NUE  ...                      99.0099   94.7525
2     275     LB  ...                      83.5644   94.4059
3     352    OKE  ...                      92.4752   93.0693
4     220    HIG  ...                      99.2079   92.2277
5     160    EOG  ...                      92.0792   91.2871
6     175   FANG  ...                      68.7129   90.8911
7     462    URI  ...                      74.0594    90.495
8     306    MHK  ...                      78.6139    90.495
9     253    IVZ  ...                       70.297   89.6535
10    386    PXD  ...                      75.0495   89.0099
11    185   FITB  ...                      73.2673   88.1683
12     29   AMAT  ...                      61.3861   87.9208
13    349   NWSA  ...                      67.5248   87.8713
14    203     GM  ...                      68.5149   87.4257
15    172   EXPE  ...                      64.9505   86.8317
16    272    KSS  ...                      51.8812   86.7327
17    414    SNA  ...                      85.5446   85.7426
18    148    DVN  ...                      46.9307   85.3465
19    215    HBI  ...                      92.8713   84.4554
20    218    HES  ...                      71.8812   83.3663
21    336   NLSN  ...                      87.7228   83.2673
22    278    LEN  ...                      98.6139   83.1188
23    285    LNC  ...                      63.3663   82.8218
24    269    KMX  ...                      78.2178   82.0792
25    347    NWL  ...                       90.099   81.8317
26    106    COF  ...                      54.4554   81.1881
27    128     DE  ...                      48.9109   80.3465
28    149    DXC  ...                      84.3564    80.099
29    314    MOS  ...                      45.3465   80.0495
30    357    OXY  ...                      36.0396   80.0495
31    273    KSU  ...                      97.2277    79.505
32    489    WRK  ...                      98.0198   79.3564
33    342   NTAP  ...                      97.0297   79.3069
34    174      F  ...                      39.2079   79.2079
35     56    BAC  ...                       80.396   78.2673
36    233    HWM  ...                      86.9307   77.9703
37    369     PH  ...                      73.4653   77.9208
38    226    HPQ  ...                      67.7228   77.8713
39    348    NWS  ...                      39.4059   77.8218
40    317    MRO  ...                      15.4455   77.5248
41     41    AOS  ...                      94.6535   77.0297
42    144    DRI  ...                      58.2178   76.9307
43    132    DHI  ...                      94.2574   76.8317
44     98    CMA  ...                       40.396   76.8317
45    503   ZION  ...                      39.0099   76.6832
46    421    STT  ...                      96.0396   76.6337
47    225    HPE  ...                      72.6733   75.9406
48    256    JCI  ...                      54.0594   75.6436
49    182   FFIV  ...                      73.0693   75.5941

[50 rows x 13 columns]

In [ ]:
portfolio_size = input('Enter your portfolio size:')

try:
    val = float(portfolio_size)
except ValueError:
    print('Please enter an integer')

Enter your portfolio size:1000000

In [ ]:
position_size = float(portfolio_size)/len(hqm_dataframe.index)
for i in range(0,len(final_dataframe)):
    hqm_dataframe.loc[i,'Number Of Shares to Buy'] = math.floor(position_size/hqm_dataframe.loc[i,'Price'])
hqm_dataframe

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

    index Ticker  ...  HQM Score Number Of Shares to Buy
0     208    GPS  ...     95.396                   662.0
1     344    NUE  ...    94.7525                   248.0
2     275     LB  ...    94.4059                   317.0
3     352    OKE  ...    93.0693                   377.0
4     220    HIG  ...    92.2277                   285.0
5     160    EOG  ...    91.2871                   257.0
6     175   FANG  ...    90.8911                   255.0
7     462    URI  ...     90.495                    60.0
8     306    MHK  ...     90.495                   100.0
9     253    IVZ  ...    89.6535                   777.0
10    386    PXD  ...    89.0099                   118.0
11    185   FITB  ...    88.1683                   509.0
12     29   AMAT  ...    87.9208                   155.0
13    349   NWSA  ...    87.8713                   751.0
14    203     GM  ...    87.4257                   345.0
15    172   EXPE  ...    86.8317                   110.0
16    272    KSS  ...    86.7327                   335.0
17    414    SNA  ...    85.7426                    85.0
18    148    DVN  ...    85.3465                   857.0
19    215    HBI  ...    84.4554                   933.0
20    218    HES  ...    83.3663                   272.0
21    336   NLSN  ...    83.2673                   757.0
22    278    LEN  ...    83.1188                   186.0
23    285    LNC  ...    82.8218                   320.0
24    269    KMX  ...    82.0792                   145.0
25    347    NWL  ...    81.8317                   720.0
26    106    COF  ...    81.1881                   148.0
27    128     DE  ...    80.3465                    52.0
28    149    DXC  ...     80.099                   677.0
29    314    MOS  ...    80.0495                   640.0
30    357    OXY  ...    80.0495                   695.0
31    273    KSU  ...     79.505                    75.0
32    489    WRK  ...    79.3564                   365.0
33    342   NTAP  ...    79.3069                   255.0
34    174      F  ...    79.2079                  1600.0
35     56    BAC  ...    78.2673                   496.0
36    233    HWM  ...    77.9703                   600.0
37    369     PH  ...    77.9208                    62.0
38    226    HPQ  ...    77.8713                   624.0
39    348    NWS  ...    77.8218                   800.0
40    317    MRO  ...    77.5248                  1792.0
41     41    AOS  ...    77.0297                   280.0
42    144    DRI  ...    76.9307                   133.0
43    132    DHI  ...    76.8317                   218.0
44     98    CMA  ...    76.8317                   278.0
45    503   ZION  ...    76.6832                   357.0
46    421    STT  ...    76.6337                   222.0
47    225    HPE  ...    75.9406                  1204.0
48    256    JCI  ...    75.6436                   330.0
49    182   FFIV  ...    75.5941                    92.0

[50 rows x 14 columns]